body {
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
canvas {
    display: block;
}
.container{
    display: flex;
    justify-content: center;
    margin-right: 650px;
    margin-top: 20px;
}
button{
    margin: 20px;
}